@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 227 52% 20%;

    --card: 0 0% 100%;
    --card-foreground: 227 52% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 227 52% 20%;

    --primary: 197 68% 66%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 22% 92%;
    --secondary-foreground: 197 68% 66%;

    --muted: 220 22% 92%;
    --muted-foreground: 227 30% 55%;

    --accent: 201 47% 52%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 22% 87%;
    --input: 220 22% 87%;
    --ring: 197 68% 66%;

    --radius: 0.75rem;

    --sidebar-background: 220 22% 97%;
    --sidebar-foreground: 197 68% 66%;
    --sidebar-primary: 197 68% 66%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 22% 92%;
    --sidebar-accent-foreground: 197 68% 66%;
    --sidebar-border: 220 22% 87%;
    --sidebar-ring: 201 47% 52%;
  }

  .dark {
    --background: 220 27% 5%;
    --foreground: 220 13% 91%;

    --card: 220 27% 8%;
    --card-foreground: 220 13% 91%;

    --popover: 220 27% 8%;
    --popover-foreground: 220 13% 91%;

    --primary: 197 68% 66%;
    --primary-foreground: 220 27% 5%;

    --secondary: 220 17% 15%;
    --secondary-foreground: 220 13% 91%;

    --muted: 220 17% 15%;
    --muted-foreground: 220 9% 55%;

    --accent: 201 47% 52%;
    --accent-foreground: 220 27% 5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 17% 20%;
    --input: 220 17% 20%;
    --ring: 197 68% 66%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 197 68% 66%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 201 47% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
